header .logo {
    background: url('/Images/ratemyschool.png');
    width: 280px;
    height: 90px;
    margin: 0 auto;
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.85);
    border: 2px solid white;
    border-radius: 5px;
}

.logo:hover {
    cursor: pointer;
    text-decoration: none;
}

.main {
    margin-top: 30px;
}

    .teacherInfo table {
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.90);
        width: 500px;
        height: 200px;
        margin-right: 100px;
        border-radius: 5px;
        visibility :inherit
    }

.teacherInfo table .addComment {
    background-color: #0032c4;
    background-color: rgba(0, 50, 196, 0.60);
        border-radius:5px;
        width:100px;
        height:30px;
        color:white;
        font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
        left:0;
}

.teacherKeyTdUp {
    background-color: #0032c4;
    background-color: rgba(0, 50, 196, 0.44);
    width: 150px;
    padding-right: 20px;
    border-radius: 5px 5px 0 0;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight: bold;
}

.teacherKeyTdDown {
    background-color: #0032c4;
    background-color: rgba(0, 50, 196, 0.44);
    width: 150px;
    padding-right: 20px;
    border-radius: 0 0 5px 5px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight: bold;
}

.teacherKeyTdInner {
    background-color: #0032c4;
    background-color: rgba(0, 50, 196, 0.44);
    width: 150px;
    padding-right: 20px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight: bold;
}

    .newComment table {
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.90);
        margin-right: 100px;
        border-radius: 5px;
        width: 600px;
    }

textarea {
    margin: 5px;
    width: 340px;
    height: 100px;
    resize: none;
}

.sendButton {
    background-color: #0032c4;
    background-color: rgba(0, 50, 196, 0.60);
        border-radius:5px;
        width:70px;
        height:30px;
        color:white;
        font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
        left:0;
}



.voteButton {
    background-color:#ffffff;
    background-color:rgba(255, 255, 255, 0.00);
    border-radius: 5px;
    border-width:1px;
}

    .allComments h1 {
        background-color:#ffffff;
        background-color:rgba(255, 255, 255, 0.60);
            margin: 0 auto; 
            text-align:center;
    }

.allComments table {
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.90);
        border-radius: 5px;
        width: 600px;
        margin: 0 auto;
        margin-bottom:5px !important;
        position: relative;
        text-align:center;
    }

.likesTR {
    align-content:center;
}

.LikesLabel {
    color: green;
}

.DislikeLabel {
    color: red;
}

#filterDiv {
    width: 50%;
    margin: 0 auto; 
    position: relative;
    text-align:center;
    background-color:#ffffff;
    background-color:rgba(255, 255, 255, 0.9);
    border-radius:5px;
}
