#ratingsFormBase .starsBase {
    background: url("stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}

    #ratingsFormBase .starsBase input[type="radio"] {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        #ratingsFormBase .starsBase input[type="radio"].star-base-5:checked ~ span {
            width: 100%;
        }

        #ratingsFormBase .starsBase input[type="radio"].star-base-4:checked ~ span {
            width: 80%;
        }

        #ratingsFormBase .starsBase input[type="radio"].star-base-3:checked ~ span {
            width: 60%;
        }

        #ratingsFormBase .starsBase input[type="radio"].star-base-2:checked ~ span {
            width: 40%;
        }

        #ratingsFormBase .starsBase input[type="radio"].star-base-1:checked ~ span {
            width: 20%;
        }

    #ratingsFormBase .starsBase label {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 !important;
        padding: 0 !important;
        text-indent: -999em;
        float: left;
        position: relative;
        z-index: 10;
        background: transparent !important;
        cursor: pointer;
    }

        #ratingsFormBase .starsBase label:hover ~ span {
            background-position: 0 -30px;
        }

        #ratingsFormBase .starsBase label.star-base-1:hover ~ span {
            width: 100% !important;
        }

        #ratingsFormBase .starsBase label.star-base-2:hover ~ span {
            width: 80% !important;
        }

        #ratingsFormBase .starsBase label.star-base-3:hover ~ span {
            width: 60% !important;
        }

        #ratingsFormBase .starsBase label.star-base-4:hover ~ span {
            width: 40% !important;
        }

        #ratingsFormBase .starsBase label.star-base-5:hover ~ span {
            width: 20% !important;
        }


#ratingsForm1 .stars1 {
    background: url("stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}

    #ratingsForm1 .stars1 input[type="radio"] {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        #ratingsForm1 .stars1 input[type="radio"].star-5:checked ~ span {
            width: 100%;
        }

        #ratingsForm1 .stars1 input[type="radio"].star-4:checked ~ span {
            width: 80%;
        }

        #ratingsForm1 .stars1 input[type="radio"].star-3:checked ~ span {
            width: 60%;
        }

        #ratingsForm1 .stars1 input[type="radio"].star-2:checked ~ span {
            width: 40%;
        }

        #ratingsForm1 .stars1 input[type="radio"].star-1:checked ~ span {
            width: 20%;
        }

    #ratingsForm1 .stars1 label {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 !important;
        padding: 0 !important;
        text-indent: -999em;
        float: left;
        position: relative;
        z-index: 10;
        background: transparent !important;
        cursor: pointer;
    }

        #ratingsForm1 .stars1 label:hover ~ span {
            background-position: 0 -30px;
        }

        #ratingsForm1 .stars1 label.star-5:hover ~ span {
            width: 100% !important;
        }

        #ratingsForm1 .stars1 label.star-4:hover ~ span {
            width: 80% !important;
        }

        #ratingsForm1 .stars1 label.star-3:hover ~ span {
            width: 60% !important;
        }

        #ratingsForm1.stars1 label.star-2:hover ~ span {
            width: 40% !important;
        }

        #ratingsForm1 .stars1 label.star-1:hover ~ span {
            width: 20% !important;
        }




#ratingsForm2 .stars2 {
    background: url("stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}

    #ratingsForm2 .stars2 input[type="radio"] {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        #ratingsForm2 .stars2 input[type="radio"].star-10:checked ~ span {
            width: 100%;
        }

        #ratingsForm2 .stars2 input[type="radio"].star-9:checked ~ span {
            width: 80%;
        }

        #ratingsForm2 .stars2 input[type="radio"].star-8:checked ~ span {
            width: 60%;
        }

        #ratingsForm2 .stars2 input[type="radio"].star-7:checked ~ span {
            width: 40%;
        }

        #ratingsForm2 .stars2 input[type="radio"].star-6:checked ~ span {
            width: 20%;
        }


    #ratingsForm2 .stars2 label {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 !important;
        padding: 0 !important;
        text-indent: -999em;
        float: left;
        position: relative;
        z-index: 10;
        background: transparent !important;
        cursor: pointer;
    }

        #ratingsForm2 .stars2 label.star-10:hover ~ span {
            width: 100% !important;
        }

        #ratingsForm2 .stars2 label.star-9:hover ~ span {
            width: 80% !important;
        }

        #ratingsForm2 .stars2 label.star-8:hover ~ span {
            width: 60% !important;
        }

        #ratingsForm2 .stars2 label.star-7:hover ~ span {
            width: 40% !important;
        }

        #ratingsForm2 .stars2 label.star-6:hover ~ span {
            width: 20% !important;
        }




#ratingsForm3 .stars3 {
    background: url("stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}

    #ratingsForm3 .stars3 input[type="radio"] {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        #ratingsForm3 .stars3 input[type="radio"].star-15:checked ~ span {
            width: 100%;
        }

        #ratingsForm3 .stars3 input[type="radio"].star-14:checked ~ span {
            width: 80%;
        }

        #ratingsForm3 .stars3 input[type="radio"].star-13:checked ~ span {
            width: 60%;
        }

        #ratingsForm3 .stars3 input[type="radio"].star-12:checked ~ span {
            width: 40%;
        }

        #ratingsForm3 .stars3 input[type="radio"].star-11:checked ~ span {
            width: 20%;
        }


    #ratingsForm3 .stars3 label {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 !important;
        padding: 0 !important;
        text-indent: -999em;
        float: left;
        position: relative;
        z-index: 10;
        background: transparent !important;
        cursor: pointer;
    }

        #ratingsForm3 .stars3 label.star-15:hover ~ span {
            width: 100% !important;
        }

        #ratingsForm3 .stars3 label.star-14:hover ~ span {
            width: 80% !important;
        }

        #ratingsForm3 .stars3 label.star-13:hover ~ span {
            width: 60% !important;
        }

        #ratingsForm3 .stars3 label.star-12:hover ~ span {
            width: 40% !important;
        }

        #ratingsForm3 .stars3 label.star-11:hover ~ span {
            width: 20% !important;
        }




#ratingsForm4 .stars4 {
    background: url("stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}

    #ratingsForm4 .stars4 input[type="radio"] {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        #ratingsForm4 .stars4 input[type="radio"].star-20:checked ~ span {
            width: 100%;
        }

        #ratingsForm4 .stars4 input[type="radio"].star-19:checked ~ span {
            width: 80%;
        }

        #ratingsForm4 .stars4 input[type="radio"].star-18:checked ~ span {
            width: 60%;
        }

        #ratingsForm4 .stars4 input[type="radio"].star-17:checked ~ span {
            width: 40%;
        }

        #ratingsForm4 .stars4 input[type="radio"].star-16:checked ~ span {
            width: 20%;
        }


    #ratingsForm4 .stars4 label {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 !important;
        padding: 0 !important;
        text-indent: -999em;
        float: left;
        position: relative;
        z-index: 10;
        background: transparent !important;
        cursor: pointer;
    }

        #ratingsForm4 .stars4 label.star-20:hover ~ span {
            width: 100% !important;
        }

        #ratingsForm4 .stars4 label.star-19:hover ~ span {
            width: 80% !important;
        }

        #ratingsForm4 .stars4 label.star-18:hover ~ span {
            width: 60% !important;
        }

        #ratingsForm4 .stars4 label.star-17:hover ~ span {
            width: 40% !important;
        }

        #ratingsForm4 .stars4 label.star-16:hover ~ span {
            width: 20% !important;
        }







#ratingsForm5 .stars5 {
    background: url("stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}

    #ratingsForm5 .stars5 input[type="radio"] {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        #ratingsForm5 .stars5 input[type="radio"].star-25:checked ~ span {
            width: 100%;
        }

        #ratingsForm5 .stars5 input[type="radio"].star-24:checked ~ span {
            width: 80%;
        }

        #ratingsForm5 .stars5 input[type="radio"].star-23:checked ~ span {
            width: 60%;
        }

        #ratingsForm5 .stars5 input[type="radio"].star-22:checked ~ span {
            width: 40%;
        }

        #ratingsForm5 .stars5 input[type="radio"].star-21:checked ~ span {
            width: 20%;
        }


    #ratingsForm5 .stars5 label {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 !important;
        padding: 0 !important;
        text-indent: -999em;
        float: left;
        position: relative;
        z-index: 10;
        background: transparent !important;
        cursor: pointer;
    }

        #ratingsForm5 .stars5 label.star-25:hover ~ span {
            width: 100% !important;
        }

        #ratingsForm5 .stars5 label.star-24:hover ~ span {
            width: 80% !important;
        }

        #ratingsForm5 .stars5 label.star-23:hover ~ span {
            width: 60% !important;
        }

        #ratingsForm5 .stars5 label.star-22:hover ~ span {
            width: 40% !important;
        }

        #ratingsForm5 .stars5 label.star-21:hover ~ span {
            width: 20% !important;
        }



#ratingsForm6 .stars6 {
    background: url("stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}

    #ratingsForm6 .stars6 input[type="radio"] {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        #ratingsForm6 .stars6 input[type="radio"].star-30:checked ~ span {
            width: 100%;
        }

        #ratingsForm6 .stars6 input[type="radio"].star-29:checked ~ span {
            width: 80%;
        }

        #ratingsForm6 .stars6 input[type="radio"].star-28:checked ~ span {
            width: 60%;
        }

        #ratingsForm6 .stars6 input[type="radio"].star-27:checked ~ span {
            width: 40%;
        }

        #ratingsForm6 .stars6 input[type="radio"].star-26:checked ~ span {
            width: 20%;
        }


    #ratingsForm6 .stars6 label {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 !important;
        padding: 0 !important;
        text-indent: -999em;
        float: left;
        position: relative;
        z-index: 10;
        background: transparent !important;
        cursor: pointer;
    }

        #ratingsForm6 .stars6 label.star-30:hover ~ span {
            width: 100% !important;
        }

        #ratingsForm6 .stars6 label.star-29:hover ~ span {
            width: 80% !important;
        }

        #ratingsForm6 .stars6 label.star-28:hover ~ span {
            width: 60% !important;
        }

        #ratingsForm6 .stars6 label.star-27:hover ~ span {
            width: 40% !important;
        }

        #ratingsForm6 .stars6 label.star-26:hover ~ span {
            width: 20% !important;
        }

    #ratingsForm6 .stars6 span, #ratingsForm5 .stars5 span, #ratingsForm4 .stars4 span, #ratingsForm3 .stars3 span, #ratingsForm2 .stars2 span, #ratingsForm1 .stars1 span {
        display: block;
        width: 0;
        position: relative;
        top: 0;
        left: 0;
        height: 30px;
        background: url("stars.png") repeat-x 0 -60px;
        -webkit-transition: -webkit-width 0.5s;
        -moz-transition: -moz-width 0.5s;
        -ms-transition: -ms-width 0.5s;
        -o-transition: -o-width 0.5s;
        transition: width 0.5s;
    }
