table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

section table tr td table {
    padding: 10px;
}

section table tr td.label label {
    color: white;
}

section table tr td input[type="text"] {
    margin: 10px;
    max-width: 380px;
}

section table tr td table tr td {
    padding: 5px;
}

section table tr td.label {
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    background-color: rgba(0, 169, 255, 0.5);
    border-radius: 0px;
    width: 100%;
    display: block;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #151a21;
}

section > table > tr > td:not(.label) {
    width: 60%;
    vertical-align: middle;
    text-align: center;
}