html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    direction: rtl;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}
.submit {
    padding: 10px;
}

.error {
    color: red;
    font-size: 13px;
}
.background {
      opacity:0.9;
      width: 100%;
    height: 100%;


  background: url('../Images/site_background.jpeg');
  background-repeat: no-repeat;
}
.size {
   width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x:hidden;
    text-align: center ;
}

header .logo {
    background: url('../Images/ratemyschool.png');
    width: 275px;
    height: 80px;
    margin: 0 auto;
}


section {
    margin: 20px auto;     

    width: 400px;   
    background-color: white;

    border-radius: 5px;
}

section h1 {
    background-color: #077bbf;
    
    margin: 0;
    padding: 0;

    width: 100%;

    height: 40px;
    line-height: 40px;  
    font-size: 24px;

    color: white;

    text-align: center;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}
label {
    margin: 0;
    padding: 0;
}

table {
    margin: 0;
    padding: 0;

    border-spacing: 0;

    border-collapse: collapse;

    width: 100%;
    height: 100%;
}

section table tr td table {

    padding: 10px;
}
section table tr td.label label {
    color: white;
}

section table tr td input[type="text"] {
    margin: 10px;

    max-width: 380px;
}

section table tr td table tr td {
    padding: 5px;
}
section table tr td.label {
    vertical-align: middle;
    text-align: center;

    font-size: 15px;

    background-color: rgba(0, 169, 255, 0.5);


    border-radius: 0px;
    width: 100%;
        display: block;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #151a21;
}

section > table > tr > td:not(.label) {
    width: 60%;
    vertical-align: middle;

    text-align: center;
}
section label {

}